@import url('https://fonts.googleapis.com/css?family=Megrim');

body{
  height:700px;
  background-color:rgb(4, 149, 109);
   border: 50px solid transparent;
    padding: 15px;
    -webkit-border-image: url(images/bright+dashes.png) 30 round; 
    -o-border-image: url(images/bright+dashes.png) 30 round;
    border-image: url(images/bright+dashes.png) 30 round;
}

#vine{
 width:400px;
 height:400px;
}

#box{
  height:500px;
  display-flex:row;
  text-align:center;
  }

.alex{
  text-align:center;
  font-family: 'Megrim', cursive;
}

#spacing-bar{
  text-align:center;
}

#movable{
  display-flex:column;
}
